@inherits LayoutComponentBase

<PageTitle>Ristinolla</PageTitle>

<div class="page">
    <main>
        <div class="top-row justify-content-center">
            <h1>Ristinolla</h1>
        </div>
        <div class="pelialue">
            @Body
        </div>
    </main>
</div>
